*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  letter-spacing: 0.02em;
  background-color: white;
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/*-------------------header-------------------*/
.studio {
  position: relative;
  color: #404bbf;
}

.start {
  border-bottom: 1px #e7e9fc solid;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.start-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.nav-title {
  color: #4d5ae5;
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  align-items: center;
  margin-right: 76px;
}

.nav-logo {
  color: #2e2f42;
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.navigation-text {
  display: flex;
  gap: 40px;
}

.navigation {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  letter-spacing: 0.02em;
  position: relative;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation:hover {
  color: #404bbf;
}

.index {
  position: relative;
  color: #404bbf;
}

.index::after {
  content: "";
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-text {
  display: flex;
  gap: 40px;
}

.address {
  color: #434455;
  font-size: 16px;
  /* font-family: Roboto sans-serif; */
  line-height: 1.5;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address:hover,
.address:focus {
  color: #404bbf;
}

/*----------------------------------------------*/

/*-------------------Section1-------------------*/

.title {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
}

.title-text {
  color: white;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-bottom: 38px;
  max-width: 496px;
}

.title-button {
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: #4d5ae5;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-button:hover,
.title-button:focus {
  background: #404bbf;
}

.title-button:active {
  color: #404bbf;
}

/*----------------------------------------------*/

/*-------------------Section2-------------------*/

.future-lists {
  flex-basis: calc((100% - 72px) / 4);
}

.strategy {
  padding-top: 120px;
  padding-bottom: 120px;
}
.future-list {
  display: flex;
  gap: 24px;
}
.futures {
  font-size: 20px;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.future-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.future-svg {
  width: 264px;
  height: 112px;
  border: 1px #8e8f99 solid;
  border-radius: 4px;
  background-color: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.future-img {
  position: relative;
  top: 24px;
  left: 100px;
}

/*----------------------------------------------*/

/*-------------------Section3-------------------*/

.social-team {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}

.social {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
}

.link-team {
  display: flex;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-team:hover {
  background-color: #404bbf;
}

.link-team:focus {
  background-color: #404bbf;
}

.list-names {
  padding: 32px 0;
}

.team {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team {
  background-color: #f4f4fd;
}

.peple {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.peple-list {
  display: flex;
  gap: 24px;
  text-align: center;
}

.our-team {
  color: #2e2f42;
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.names {
  font-size: 20px;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.under-names {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*----------------------------------------------*/

/*-------------------Section4-------------------*/

.list-program {
  padding: 32px 16px;
  border: 1px #e7e9fc solid;
  border-top: none;
}

.list-app {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.apps {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list-app-text {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-app-text:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.title-app {
  color: #2e2f42;
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 72px;
}

.app {
  font-size: 20px;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.under-app {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  transform: translateY(0%);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  color: #f4f4fd;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay:hover .overlay-title {
  transform: translateY(0%);
}

/*--------------------------------------------*/

/*-------------------Footer-------------------*/

.social-footer {
  fill: #f4f4fd;
  width: 24px;
  height: 24px;
}

.end-container {
  display: flex;
  align-items: baseline;
}
.end {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-title {
  color: #f4f4fd;
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.footer-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  width: 264px;
}

.end {
  background-color: #2e2f42;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.link-media {
  display: flex;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-media:hover {
  background-color: #31d0aa;
}

.link-media:focus {
  background-color: #31d0aa;
}

.end-title {
  color: white;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  margin-bottom: 16px;
}

.end-logo {
  margin-right: 120px;
}

.end-subscribe {
  margin-left: 80px;
}

.end-input {
  width: 264px;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px white solid;
  background: transparent;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
}

.footer-button {
  min-width: 165px;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: 24;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.end-input::placeholder {
  color: #ffffff;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-button-logo {
  margin-left: 16px;
}

/*--------------------------------------------*/
/*---------------modal-window-----------------*/

.backdrop {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
  position: none;
}

.open-backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.button-close {
  border: none;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus {
  background-color: #404bbf;
  border: none;
}

.button-close:hover > .modal-close,
.button-close:focus > .modal-close {
  fill: #ffffff;
}

.modal-title {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}

.modal-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-input {
  border: 1px rgba(46, 47, 66, 0.4) solid;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus,
.modal-input:focus + .label-pole-svg {
  border-color: #4d5ae5;
  fill: #4d5ae5;
}

.personaldata {
  margin-bottom: 8px;
}

.label-pole {
  position: relative;
}

.label-pole-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
  border: 1px rgba(46, 47, 66, 0.4) solid;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:hover,
.modal-comment:focus {
  border-color: #4d5ae5;
}

.comment {
  margin-bottom: 16px;
}

.privacy-policy {
  margin-bottom: 24px;
}

.policy-text {
  color: #8e8f99;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.policy-text a {
  color: #4d5ae5;
  text-decoration: underline;
}

.policy-text span {
  height: 16px;
  width: 16px;
  border-radius: 2px;
  border: 1px rgba(46, 47, 66, 0.4) solid;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.policy-input:checked + .policy-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.module-button {
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  color: white;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  font-family: Roboto, sans-serif;
}

.module-button:hover,
.module-button:focus {
  background: #404bbf;
}

.module-button:active {
  color: #404bbf;
}
